.imgWrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem 2rem;
  background: var(--background);
  border-radius: 1rem;
}

.imgWrapper h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;  
}

.imgWrapper p {
  font-size: 18px;
}

.outImage {
  width: 100%;
  min-width: 19rem;
  height: auto;
  padding: 1rem 0rem;
}

.inImage {
  width: 100%;
  min-width: 24rem;
  height: auto;
  padding: 1rem 0rem;
}

.infoSection {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;

  gap: 40px;
  margin-bottom: 60px;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 18px;

  line-height: 1.8;
}

