h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

body {
  background: var(--body);
  color: var(--textLight);
  font-family: Arial, Helvetica, sans-serif;
}

.buttonDark {
  background-color: var(--buttonDark);
  border: 2px solid var(--earth);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.buttonDark:hover {
  background-color: var(--hoverDark);
}

.buttonLight {
  background-color: var(--buttonLight);
  color: var(--textDark);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.buttonLight:hover {
  background-color: var(--hoverLight);
}

.link {
  text-decoration: underline;
  transition: color 0.2s ease;
}

.link:hover {
  color: #4da3ff;
}