h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.large-font {
  font-size: 130%;
}

.large-font h2 {
  font-size: 1.5rem;
}

.large-font h3 {
  font-size: 1.3rem;
}

.buttonDark {
  background-color: var(--buttonDark);
  padding: 0.5rem 1rem;
  color: var(--textLight);
  text-align: center;
}

.buttonDark:hover {
  background-color: var(--hoverDark);
}

.buttonDark.active {
  border: 2px solid var(--highlight);
}

.buttonLight {
  background-color: var(--buttonLight);
  color: var(--textDark);
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-align: center;
}

.buttonLight:hover {
  background-color: var(--hoverLight);
}

.link {
  text-decoration: underline;
  transition: color 0.2s ease;
}

.link:hover {
  color: #4da3ff;
}