h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

.large-font {
  font-size: 130%;
}

.large-font h3 {
  font-size: 1.4rem;
}

hr {
  margin: 1rem 0;
}

.buttonDark {
  background-color: var(--buttonDark);
  padding: 0.5rem 1rem;
  color: var(--textLight);
  text-align: center;
  cursor: pointer;
}

.buttonDark:hover {
  background-color: var(--hoverDark);
}

.buttonDark.active {
  border: 2px solid var(--highlight);
}

.buttonLight {
  background-color: var(--buttonLight);
  color: var(--textDark);
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
}

.buttonLight:hover {
  background-color: var(--hoverLight);
}

.buttonMedium {
  background-color: var(--buttonMedium);
  color: var(--textLight);
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
}

.buttonMedium:hover {
  background-color: var(--hoverMedium);
}

.buttonClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--highlight);
  font-size: 1.5rem;
  transition: all 0.2s;
}

.link {
  text-decoration: underline;
  transition: color 0.2s ease;
}

.link:hover {
  color: #4da3ff;
}