header {
  padding: 1rem;
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  gap: 1rem;
}

header a {
  margin-right: 1rem;
}

header a:hover{
  background-color: var(--surface);
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}