.lessonLayout {
  display: grid;
  grid-template-columns: 21rem 1fr;
  gap: 1rem;
  align-items: start;
}

.lessonSidebar {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--border);
  padding: 0.4rem;
  border-radius: 1rem;
}

.lessonOptions {
  display: flex;
  flex-direction: column;
  background: var(--border);
  padding: 1rem;
  border-radius: 1rem;
}

.lessonOptions label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.lessonItem {
  background: var(--buttonLight);
  border-left: 5px solid transparent;
  border-radius: 1rem;
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
}

.lessonItem:hover {
  transform: translateX(0.3rem);
}

.lessonItem.active {
  border-left: 0.3rem solid var(--border);
}

.pdfViewer iframe {
  height: 35rem;
  border-radius: 0.4rem;
}

.lessonButtons {
  display: flex;
  justify-content: space-between;
}