.slider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(50% - 2px);
  height: calc(100% - 4px);
  background: var(--main);
  border-radius: 10rem;
  transition: transform 0.25s ease;
}

.right .slider {
  transform: translateX(100%);
}