:root {
  --background: #161616;
  --body: #242424;
  
  --textLight: #ededed;
  --textDark: #242424;
  --highlight: #a66448;

  --buttonDark: #242424;
  --hoverDark: #363636;
  --buttonLight: #ededed;
  --hoverLight: #c9c9c9;

  --earth: #5e3929;
}