:root {
  --body: #fcf7f7;
  --tint: #c4a7a790;
  --main: #782833;
  --highlight: #d36475a9;
  --separator: #000000;

  --textLight: #ededed;
  --textLightAlt: #525252;
  --textDark: #472121;

  --buttonDark: #522121;
  --hoverDark: #834a46;
  --buttonLight: #fdfdfd;
  --hoverLight: #eae2e2;
  --buttonMedium: #a57e87;
  --hoverMedium: #a68f94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: #221a1d;
    --tint: #3e303390;
    --main: #521d26;
    --highlight: #b55f6ca9;
    --separator: #ffffff;

    --textLight: #ebe3e3;
    --textLightAlt: #b2acad;
    --textDark: #d9d2d3;

    --buttonDark: #2b1619;
    --hoverDark: #68343b;
    --buttonLight: #5f4b50;
    --hoverLight: #846c70;
    --buttonMedium: #7c515b;
    --hoverMedium: #9c6370;
  }
}