@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer theme {
  :root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*some base style for header and footer, feel free to change it*/
header {
  padding: 20px;
  background-color: #0c0b0b;
  color: white;

}

/*navigation link turns into a so a */
header a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

footer {
  padding: 20px;
  background-color: #0c0b0b;
  color: white;
  margin-top: 20px;
}